<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>

<body>
    <h2>Send Name</h2>
    <form method="post" action="/">
        <input name="name" placeholder="Enter your name" />
        <button type="submit">Send Name</button>
    </form>
    <hr />
    <div>
        <a href="/about">Go to About Page</a>
    </div>
    <div>
        <a href="/contact">Go to Contact Page</a>
    </div>
    <a href="/api/admin">Admin information</a>
</body>

</html>